@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
}

p {
  margin: 0.5em;
}

hr {
  width: 80%;
}

/* PROMO BAR */

#promo-bar {
  background-image: radial-gradient(
    54.97% 272.54% at 27.36% -134.72%,
    rgba(69, 75, 27, 0.92) 0,
    rgba(0, 0, 0, 0.92) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#promo-bar-span {
  display: flex;
  align-items: center;
}

#promo-bar-span a {
  margin-left: 0.8em;
  color: #f5f5f5;
}

#promo-bar > * {
  padding: 0 1em;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
}

/* NAV BAR */

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#a-nav-bar {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

#a-nav-bar a {
  padding: 0.2em 0.8em;
}

#a-nav-bar a:hover {
  background-color: rgb(51, 51, 51, 0.1);
  transition: 0.4s;
  border-radius: 0.8rem;
}

#nav-bar a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#unsc-logo {
  margin-left: 20px;
  width: 55px;
}

#icon-span img {
  width: 55px;
  padding: 0.2em 1em;
  box-sizing: border-box;
}

#icon-span img:hover {
  background-color: rgb(51, 51, 51, 0.1);
  transition: 0.4s;
  border-radius: 1rem;
}

#menu-hidden {
  display: none;
}

#menu-hidden a {
  color: #f5f5f5;
}

/* Cards */

.vehicle-card {
  display: flex;
  margin: auto;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: 800ms ease-in 0s 1 slideInFromLeft;
}

.vehicle-card:nth-child(4) {
  background-color: #f5f5f5;
  flex-direction: row-reverse;
  animation: 800ms ease-in 0s 1 slideInFromRight;
}

.vehicle-card span {
  width: 50%;
  padding: 20px;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.vehicle-card span a {
  text-decoration: none;
  transition: color 300ms ease-in-out;
  color: rgb(2, 2, 153);
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#333 0 0);
  background-position: right -100% bottom 0;
  background-size: 200% 2px;
  background-repeat: no-repeat;
}

.vehicle-card span a:hover,
.vehicle-card span a:focus {
  color: rgb(91, 91, 240);
  background-position: left -100% bottom 0;
  transition: background-position 0.7s;
}

.vehicle-img {
  width: 400px;
  max-width: 400px;
  border-radius: 15px;
}

.starting-price {
  opacity: 80%;
}

/* FOOTER */

footer {
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Prompt", sans-serif;
}

.footer-img img {
  box-sizing: border-box;
  width: 100px;
}

footer a {
  text-decoration: none;
  color: #333;
  opacity: 85%;
  padding: 0 10px;
}

footer a:hover,
footer a:focus {
  color: #333;
}

/* MEDIA QUERY!!!! */
@media (max-width: 635px) {
  #promo-bar {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    padding: 0.25em;
  }

  #promo-bar h3 {
    padding: 0;
  }

  #promo-bar-span {
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
  }

  /* NAV BAR */

  #a-nav-bar,
  #icon-span {
    display: none;
  }

  #menu-hidden {
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 16px;
    margin-right: 16px;
    display: inline;
    background-image: radial-gradient(
      54.97% 272.54% at 27.36% -134.72%,
      rgba(69, 75, 27, 0.92) 0,
      rgba(0, 0, 0, 0.92) 100%
    );
    border-radius: 1rem;
    font-size: 1.1em;
  }

  .vehicle-card {
    width: 100%;
    padding: 30px 0;
  }

  .vehicle-card span {
    width: 100%;
  }

  .vehicle-card img {
    width: 80%;
  }

  .footer-img img {
    display: none;
  }
}
